[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pymupdf = "*"

[dev-packages]

[scripts]
"main" = "python __main__.py"

[requires]
python_version = "3.10"
